/* BALOO TAMA */
@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@700&display=swap");
/* LATO */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

/* STRUCTURE */
body {
  color: #424242;
  background: #eeeeee;
}

/* LANDING-CONTENT */
.logo {
  max-height: 4rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.title .superscript {
  text-transform: uppercase;
  font-weight: bold;
}

.title h1 {
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: -1px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #5F45B2;
}

.are-the-one p {
  line-height: 1.5rem;
}

.bullet {
  display: flex;
  align-content: center;
  margin-bottom: 0.5rem;
}

.bullet img {
  max-width: 1.5rem;
  margin-right: 0.5rem;
}
.bonus {
  margin-top: 40px;
  margin-bottom: 40px;
}

.bonus h4 {
  display: inline;
  color: #5FAC52;
  text-transform: uppercase;
  margin-right: 10px;
}

.bonus span {
  font-weight: bold;
}

.form-col {
  background-color: #5F45B2;
}


/* FORMULÁRIO */
h3 {
  color: white;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  background-color: #f4f4f4;
  border: none;
  outline: none;
  border-radius: 0.1rem;
}

.campos {
  padding: 1rem 12.5rem 1rem 0.5rem;
  margin-bottom: 0.5rem;
}

#submit {
  background-color: #49358a;
  color: white;
  padding: 1rem 8rem 1rem 8rem;
  margin-bottom: 1rem;
}

/* FOOTER */

#footer {
  margin: 0;
}

footer {
  background-color: #49358a;
  width: 100vw;
}